body {
    line-height: 1.5;
    font-family: 'Lora', serif;
}
button {
    background-color: transparent;
    outline: none;
    padding: 16px 44px;
    border: none;
    font-family: 'Lora', serif;
}
.center {
    text-align: center;
}
.padding {
    padding: 90px 0;
}